button {
  transition: 0.2s;
}

.buttons button {
  border-radius: 90px;
  height: 2.5rem;
  width: 2.5rem;

  cursor: pointer;

  border: none;
  background-color: var(--dark-blue);

  filter: brightness(1.2);

  color: var(--medium-grey);
}

.buttons button:hover {
  filter: brightness(1.1);
}

.buttons button:active {
  background-color: var(--orange);
  color: var(--white);
}

.buttons button:focus {
  background-color: var(--orange);
  color: var(--white);
}

button.submit {
  margin-top: 2rem;
  background-color: var(--orange);
  width: 18.87rem;

  border: none;
  border-radius: 90px;
  cursor: pointer;

  padding: 0.75rem;

  font-weight: 700;
  font-family: 'Overpass';

  color: var(--white);
  letter-spacing: 2px;

  transition: 0.2s;
}

button.submit:hover {
  filter: brightness(1.1);
}

button.submit:active {
  background-color: var(--white);
  color: var(--orange);
}

button.submit:focus {
  background-color: var(--white);
  color: var(--orange);
}
